@import "../../utils/colors.scss";

.post-list {
  width: 80%;
  padding: 30px;

  .postItem {
    background-color: $gray;
    min-height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 15px;
    text-align: left;

    .author {
      font-size: 15px;
      text-align: left;
    }

    .postInfo {
      text-align: center;
      font-size: 15px;
    }

    a {
      color: aliceblue !important;
    }
  }
}
