.post-page {
  width: 80%;
  text-align: left;

  .post-body {
    margin-top: 30px;
  }

  .title {
    margin-top: 20px;
    text-decoration: underline;
  }

  .comment-form {
    margin-top: 40px;
    width: 50%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .comments {
    margin-top: 40px;
  }
}
